<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionString>
    <add name="MySQLConnectionString" connectionString="Server=localhost;Database=locadora;Uid=root;Pwd=root;Connect Timeout=30;"/>
  </connectionString>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>